.label 
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.button 
{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover 
{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button-text 
{
   -fx-font-size: 16px;
   -fx-font-family: "Arial Bold";
   -fx-font-weight: bold;
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#game-Pane
 {
     -fx-background-image: url("background.jpg");
     -fx-background-size:     cover;                      
     -fx-background-repeat:   no-repeat;
     -fx-background-position: center center;
}

#missileLauncherDestructorPane
 {
     -fx-min-height : 300px;
}
