.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-pref-height: 28px;
    -fx-pref-width: 200px;
	
}

.vbox {
	-fx-border-width: 2px;
	-fx-border-color:black;
	-fx-padding: 10;
	-fx-spacing: 25;
	-fx-background-color: lightblue;
	

}


#game_pane {
	-fx-background-image: url("images/background.jpg");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
}

